* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.listContainer {
  display: flex;
}

.list {
  background: #ddd;
  margin: 10px 0px 0px 10px;
  padding: 10px;
  width: 200px;
  min-width: 200px;
  overflow: initial;
  border-radius: 10px;
}

.card {
  background-color: #fff;
  margin: 10px 0;
  border-radius: 7px;
  padding: 5px;
  min-height: 30px;
  box-shadow: 1px 1px 1px #555;
}

.button {
  max-height: 20px;
  border-radius: 7px;
  border: 0;
  text-align: left;
  padding: 5px 0 20px 5px;
  width: 175px;
  box-sizing: content-box;
}

.button:hover {
  cursor: pointer;
}

.listButton {
  margin: 10px 0px 0px 10px;
}

.textArea {
  resize: none;
  width: 97.5%;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 7px;
  margin-bottom: 7px;
  box-shadow: 1px 1px 2px #555;
}

.listTextArea {
  width: 175px;
}

.listTitle {
  margin-bottom: 10px;
}

.listContainer {
  width: 200px;
}

.saveButton {
  color: white;
  background-color: rgb(66, 141, 70);
}

.boardTitleContainer {
  display: flex;
  margin: 10px 0px 0px 10px;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.boardTitle {
  font-size: 20px;
  margin-right: 10px;
  padding: 5px;
  border: 1px dotted black;
}

.boardTitleInput {
  font-size: 20px;
  margin-right: 10px;
  resize: none;
  overflow: hidden;
  outline: none;
  border: 1px solid black;
  padding: 5px;
}
