* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.listContainer {
  display: flex;
  margin-top: 60px;
  /* overflow: scroll; */
}

.list {
  background-color: #0a0a09;
  margin: 10px 0px 0px 10px;
  padding: 10px;
  width: 200px;
  min-width: 200px;
  border-radius: 3px;
  color: white;
}

.card {
  background-color: #22272b;
  margin: 10px 0;
  border-radius: 2px;
  padding: 5px;
  min-height: 30px;
  color: #303032;
}

.button {
  max-height: 20px;
  border-radius: 2px;
  border: 0;
  text-align: left;
  padding: 5px 0 20px 5px;
  width: 175px;
  box-sizing: content-box;
  background-color: inherit;
}

.button:hover {
  cursor: pointer;
}

.listButton {
  margin: 10px 0px 0px 10px;
  background-color: #ffffff3b;
}

.listButton:hover {
  background-color: #ffffff75;
}

.textArea {
  resize: none;
  width: 97.5%;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-bottom: 7px;
  overflow-wrap: break-word;
  min-height: inherit;
  background-color: #22272b;
}

.textAreaContainer {
  overflow: visible;
  min-height: 50px;
}

.listTextArea {
  width: 175px;
  margin: 10px 0px 0px 10px;
  background-color: #ffffff46;
}

.listTextAreaContainer {
  width: 200px;
}

.listTextArea::placeholder {
  color: #ffffff;
}

.listTitle {
  margin-bottom: 10px;
}

.saveButton {
  color: white;
  background-color: #1594dd;
}

.boardTitleContainer {
  display: flex;
  margin: 10px 0px 0px 10px;
  align-items: center;
  font-size: 1.5em;
  margin-right: 10px;
}

.boardTitle {
  margin-right: 10px;
  padding: 5px;
  border: 1px dotted black;
  color: #ffffff;
  font-weight: bold;
  background-color: inherit;
  height: 40px;
  line-height: 30px;
  text-align: center;
}

.boardTitleInput {
  margin-right: 10px;
  resize: none;
  overflow: hidden;
  outline: none;
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
  font-size: 1em;
  font-family: "Roboto";
  width: 400px;
}

.cardModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #0a0a09;
  border: 2px solid #000;
  box-shadow: 24px;
  height: 400px;
}

.cardModalInterior {
  width: 85%;
  margin: auto;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 7.5%;
}

.teamMembers {
  width: 100%;
  background-color: #ffffff;
  color: black;
}

.teamMembersOption {
  color: black;
}

.modalTextArea {
  resize: none;
  height: 25%;
  width: 100%;
  color: white;
  overflow: hidden;
  background-color: #22272b;
  outline: none;
  border: none;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
}

.editCardText,
.editCardComment,
.editTeamMembers {
  margin: 10px 0;
}

.modalSaveButton {
  margin: 10px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 10px 0px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
}

.teamMembersButton {
  margin: 0;
  padding: 20px;
  text-align: center;
  width: inherit;
}

.teamMembersButton:hover {
  background-color: #ffffff75;
}

.bgColor {
  width: 30%;
  height: 25%;
  border-radius: 5px;
}

.bgColor:hover {
  cursor: pointer;
}

.colorPickerContainer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.bgColor1 {
  background-color: #005585;
}

.bgColor2 {
  background-color: #d29034;
}

.bgColor3 {
  background-color: #519839;
}
.bgColor4 {
  background-color: #b04632;
}
.bgColor5 {
  background-color: #89609e;
}
.bgColor6 {
  background-color: #cd5a91;
}
.bgColor7 {
  background-color: #4bbf6b;
}
.bgColor8 {
  background-color: #00aecc;
}
.bgColor9 {
  background-color: #838c91;
}

.fontContainer {
  margin-top: 20px;
}

.fontButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fontButton {
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff2a;
  margin: 10px 0;
  padding: 10px 0;
}

.switchBoardButton {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: none;
  background-color: #22272b;
}

.switchBoardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switchBoardButton:hover {
  cursor: pointer;
  background-color: #2b2f31;
}
